
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col l-2 m-4 c-12">
    <h4 class="footer__list-heading">Thông tin </h4>
    <ul class="footer__list">
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Giới thiệu
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Chăm sóc khách hàng
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Hỗ trợ kỹ thuật
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Hỗ trợ Bảo hành
            </a>
        </li>
    </ul>
</div>
<div class="col l-2 m-4 c-12">
    <h4 class="footer__list-heading">Địa chỉ</h4>
    <ul class="footer__list">
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Chi nhánh 1
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Chi nhánh 2
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Chi nhánh 3
            </a>
        </li>
        <li>
            <a href="" class="footer__item">
                <i class="ri-arrow-right-s-line"></i> Chi nhánh 4
            </a>
        </li>
    </ul>
</div>
            </div>
        </div>
        </div>
    </footer>