<!--Footer-->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="wrapper">
					<div class="col-sm-6 col-sm-offset-3 col-xs-12">
						<div class="footer-item text-center">
							<i class="fa fa-bicycle"></i>
							<div class="logo">
								<img src="../assets/images/logo.png" alt="Logo" />
							</div>

							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
							</div>

							<div class="copyright">
								<p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
