	<!--Home page style-->
<header id="home" class="home home-main-content">

	<div class="container">
		<div class="row">

			<div class="div-menu">
				<header class="cd-header">
					<div id="cd-logo">
						<a href="index.html"><img src="../assets/images/logo.png" alt="Logo"></a>
					</div>
					<a class="cd-menu-trigger" href="#main-nav"><span></span></a>
				</header>
			</div>

			<div class="home-wrapper">
				<div class="col-sm-6 col-xs-12">
					<div class="home-content">
						<h1>Tomorrow is a <strong>brand</strong> new day!</h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						<div class="more">
							<a href="#">more</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-xs-12">
					<div class="home-photo">
						<img src="../assets/images/new.png" alt="Women" />
					</div>
				</div>

			</div>
		</div>
	</div>

</header>
