@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="index" asp-controller="home">
        <input name="email" />
        <button>Send Email</button>
    </form>
</div>
