
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<TDanhMucSp>;

<div id="test" class="test">
	@foreach(var item in @Model)
	{
		<div class="col-4 mix no-padding">
			<div class="single_mixi_portfolio">
				<img src="ImagesVali/@item.AnhDaiDien" alt="Portfolio" width="400" height="300"/>
				<div class="mixi_portfolio_overlay">
					<div class="overflow_hover_text">
						<a href=""><i class="lnr lnr-plus-circle"></i></a>
						<h2>@item.TenSp</h2>
						<p>@item.MaLoai</p>
					</div>
				</div>
			</div>
		</div>
	}

	@Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page,mahang=@ViewBag.mahang}),new PagedListRenderOptions()
			{
			LiElementClasses = new List<string> {"page-item"},
			PageClasses = new List<String>{"page-link"}
			})


</div>


